/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .the-header {
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    background-color: hsla(0, 0%, 100%, 0.9);
  }
}
